

.slide {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.img-container {
    max-width: 100vw; 
    object-fit: contain;
}

.left {
    color: White;
    background-color: rgb(104, 205, 104);
    font-size: .9em;
    border: 2px solid black;
    border-radius: .4em
}

.right {
    color: white;
    background-color: rgb(232, 73, 81);
    font-size: .9em;
    border: 2px solid black;
    border-radius: .4em;
    margin-left: .1em
}